@import './base.css';
@import './custom-vuetify.css';

#app {
  width: 100vw;
  height: 100vh;
  font-weight: normal;
}

.padding-1rem {
    padding: 1rem;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {

}
